git "https://gitlab.com/eyeo/adblockplus/ios-libraries/RxSwiftExt" ~> 3.0
git "https://gitlab.com/eyeo/adblockplus/ios-libraries/FavIcon" ~> 2.0
git "https://gitlab.com/eyeo/adblockplus/ios-libraries/yajl-dynamic" ~> 1.0
