//
// This file is part of Adblock Plus <https://adblockplus.org/>,
// Copyright (C) 2006-present eyeo GmbH
//
// Adblock Plus is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License version 3 as
// published by the Free Software Foundation.
//
// Adblock Plus is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
//

// Cocoapods does not understand parameterized includes.
// If it worked, target configurations could be replaced with this xcconfig.
// Now it's hijacked by pod xcconfigs so this xcconfig is not used, until Cocoapods is dropped
//#include "Pods/Target Support Files/Pods-AdblockPlusSafariExtension/Pods-AdblockPlusSafariExtension.$(CONFIGURATION).xcconfig"

PRODUCT_DISPLAY_NAME = Adblock Plus Devbuild
PRODUCT_BUNDLE_IDENTIFIER = org.adblockplus.devbuilds.AdblockPlusSafari.AdblockPlusSafariExtension
CODE_SIGN_ENTITLEMENTS = AdblockPlusSafari/AdblockPlusSafariExtensionDevbuild.entitlements
// Eyeo Enterprise
DEVELOPMENT_TEAM = G5LEUTX2F6
CODE_SIGN_IDENTITY = iPhone Distribution: Eyeo GmbH (G5LEUTX2F6)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution // override default "iPhone Developer"
PROVISIONING_PROFILE_SPECIFIER = Adblock Plus Extension Devbuild In House
